{% extends "base.html" %}
{% block content %}
<div class="box">
    <h2>Terminal badass</h2>

    <form method="POST" id="terminal-form">
        <input type="text" name="command" placeholder="Commande (ex: ls)" required>
        <button type="submit">Envoyer</button>
    </form>

    <h3>Résultat :</h3>
    <pre>{{ output }}</pre>
</div>

<script>
const input = document.querySelector('input[name="command"]');
input.focus(); 

// soumission avec Enter
input.addEventListener('keypress', function(e) {
    if (e.key === 'Enter') {
        e.preventDefault();
        document.getElementById('terminal-form').submit();
    }
});

// focus automatique après soumission
const form = document.getElementById('terminal-form');
form.addEventListener('submit', () => {
    setTimeout(() => input.focus(), 100);
});
</script>
{% endblock %}